# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*
*.tfstate.backup

*.json
authorized_key.json

# Local variables
terraform.tfvars
# own secret vars store.
personal.auto.tfvars