
###Файл terraform.tfvars хранится локально

vms_resources = {
    web = {
        cores = 2
        memory = 2
        core_fraction = 20
        hdd_size = 5
        hdd_type = "network-hdd"
    }

    db = {
        cores = 2
        memory = 2
        core_fraction = 20
        hdd_size = 5
        hdd_type = "network-hdd"
    }
}


metadata = {
    serial-port-enable = "1"
    ssh_keys           = "<"локальное хранение">"
}